BIND=127.0.0.1:8000
OSRM_URL=http://127.0.0.1:5000
VROOM_URL=http://127.0.0.1:3000
NOMINATIM_URL=http://127.0.0.1:8080
BOUNDARY_PATH=data/boundary/collin.geojson
REGION_PATH=data/boundary/region.geojson
BUILD_INFO_PATH=data/out/BUILD_INFO
RUST_LOG=info
WEB_DIR=web/dist
CAD_DB=data/out/cad.sqlite
TILES_PATH=data/out/region.pmtiles
